PORT=8003
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=crm_db
DB_SSLMODE=disable

# JWKS Endpoint of core-service (for validating user JWTs)
JWKS_URL=http://localhost:8001/.well-known/jwks.json

# Downstream Service endpoints
PMB_SERVICE_URL=http://localhost:8004
