PORT=8009
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=assessment_db
DB_SSLMODE=disable

# JWKS Endpoint of core-service (for validating user JWTs)
JWKS_URL=http://localhost:8001/.well-known/jwks.json

# Service endpoints
PMB_SERVICE_URL=http://localhost:8004
ACADEMIC_SERVICE_URL=http://localhost:8006
LMS_SERVICE_URL=http://localhost:8008
