PORT=8001
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=core_db
DB_SSLMODE=disable

JWT_EXPIRE_HOURS=24
JWT_REFRESH_EXPIRE_DAYS=7

# RSA Key Paths
RSA_PRIVATE_KEY_PATH=.keys/private.pem
RSA_PUBLIC_KEY_PATH=.keys/public.pem

# JWKS Endpoint (Local verify)
JWKS_URL=http://localhost:8001/.well-known/jwks.json
