PORT=8008
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=lms_db
DB_SSLMODE=disable

# JWKS Endpoint of core-service (for validating user JWTs)
JWKS_URL=http://localhost:8001/.well-known/jwks.json

# Service endpoints
ACADEMIC_SERVICE_URL=http://localhost:8006
